*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#F7FFF6;
}


header{

    width:100%;

    background:#FFFFFF;

    padding:25px 60px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

}

header h1{

    font-size:48px;

    color:#2E7D32;

}

nav{

    display:flex;

    gap:35px;

}

nav a{

    text-decoration:none;

    color:#222;

    font-weight:600;

    transition:.3s;

}

nav a:hover{

    color:#2E7D32;

}


.hero{

    padding:40px 60px;

    display:flex;

    gap:40px;

    align-items:center;

}

.hero-image{

    width:260px;

    height:200px;

    overflow:hidden;

    border-radius:15px;

    

}

.hero-image img{

    width:100%;

    height:100%;

    object-fit:cover;

}

.hero-text{

    flex:1;

    background:white;

    border:2px solid #9CCC65;

    border-radius:12px;

    padding:25px;

}

.hero-text h2{

    color:#1B5E20;

    margin-bottom:18px;

}

.hero-text p{

    line-height:30px;

    color:#444;

}

.why{

    padding:0 60px;

    margin-bottom:45px;

}

.why h2{

    color:#1B5E20;

    margin-bottom:18px;

}

.why-box{

    background:white;

    border:2px solid #9CCC65;

    border-radius:12px;

    padding:22px;

    display:flex;

    justify-content:space-around;

    text-align:center;

    font-weight:600;

    color:#2E7D32;

}

.produk{

    padding:0 60px 60px;

    display:flex;

    justify-content:center;

    align-items:flex-start;

    flex-wrap:wrap;

    gap:30px;

}

.card{

    width:200px;

    background:white;

    border:2px solid #9CCC65;

    border-radius:12px;

    padding:20px;

    display:flex;

    flex-direction:column;

    align-items:center;

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

    box-shadow:0 8px 18px rgba(0,0,0,.1);

}

.gambar{

    width:130px;

    height:130px;

    

    overflow:hidden;

    display:flex;

    justify-content:center;

    align-items:center;

    margin-bottom:18px;

}

.gambar img{

    width:100%;

    height:100%;

    object-fit:cover;

}

.card h3{

    color:#1B5E20;

    margin-bottom:8px;

}

.harga{

    font-size:18px;

    color:#2E7D32;

    font-weight:700;

}

.lihat{

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-decoration:none;

    color:#2E7D32;

    cursor:pointer;

}

.lihat span{

    font-size:60px;

    transition:.3s;

}

.lihat:hover span{

    transform:translateX(8px);

}

.lihat p{

    margin-top:10px;

    font-weight:600;

    color:#333;

}


@media(max-width:900px){

    header{

        flex-direction:column;

        gap:20px;

        text-align:center;

    }

    nav{

        flex-wrap:wrap;

        justify-content:center;

    }

    .hero{

        flex-direction:column;

    }

    .why-box{

        flex-direction:column;

        gap:15px;

    }

}